<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ParrellelExecutionFramework" parallel="classes">
 <!-- 	<listeners>
		<listener class-name="com.projectname.qa.util.WebDriverListener"></listener>
		<listener class-name="com.projectname.qa.util.RetryListener"/>
	</listeners>  -->

	 <test name="Test" >		
		<packages>
	      <package name=".*" />
	    </packages>
	 </test>
</suite>